<h1>Search Results Page</h1>
<% if (@results!=nil) && (@results.length>0) %>
    <fieldset style="width: 100%;margin-bottom: 20px;">
      <legend>Search Results</legend>

    <% if flash[:alert]%>
        <p id="notice"><%= flash[:alert] %></p>
    <%end%>
    <table style="width: 100%;">
       <% @results.each do |post| %>
          <tr>
            <td style="width: 20%; text-align: center;">
              <p>Created By</p>
              <div class="title"></div> <%= getUserNamePosts(post.User_id) %> </div>
            </td>
            <td style="text-align: left;">
              <h2 class="title"><%= post.title %></h2>
              <div class="content_pc"><%=post.content%><br/></div>
              Category:
              <div class="content_pc"><%= getCategory post  %></div>
            </td>
          </tr>
        <% end %>
    </table>
 <% else %>
    <h3>No Results found</h3>

    </fieldset>
<% end %>
<% if authenticated? %>
    <%= link_to "Back", :controller => 'posts',:action => 'index' %>
<% else %>
    <%= link_to "Back", :controller => 'login',:action => 'new' %>
<% end %>